{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}


{% if email %}
	<h2>信箱：{{ email }}</h2>
    <h2>密碼：{{ password }}</h2>
	<br/>
	<h3>使用者資訊</h3>
	名字：{{ pw_to_check.name }}<br/>
	信箱：{{ pw_to_check.email }}<br/>
	密碼：{{ pw_to_check.password_hash}}<br/>
	Passed：{{ passed }}
{% else %}
	<br/>
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control") }}
		<br/>
        {{ form.password_hash.label(class="form-label") }}

		{{ form.password_hash(class="form-control") }}
		<br/>
		
		{{ form.submit(class="btn btn-secondary") }}


	</form>

{% endif %}

{% endblock %}